<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/register.css">
    <title>rentMe</title>
</head>

<body>
    <header class="flow">
        <h1 class="centered-flex">Login</h1>
    </header>

    <main>
        <form name="login" class="flow columned-flex" novalidate>
            <div class="columned-flex">
                <label for="username">Username</label>
                <input id="username" name="username" type="username" required autofocus />
            </div>
            <div class="columned-flex">
                <label for="password">Password <button type="button" id="toggle-password"
                        tabindex="0">Show</button></label>
                <input id="password" name="password" type="password" required />
            </div>
            <button class="flow">Login</button>
        </form>
        <p class="flow centered-flex">New to <span class="brand-name">rentMe</span>?<a href="register.html">Register</a></p>
    </main>

    <script type="module" src="../controller/login.js"></script>
</body>

</html>