<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rentMe</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header class="site-header">
        <a href="/" class="site-header__link">
            <h1>rentMe</h1>
        </a>

        <button>liked properties</button>
        <details id="user-menu" class="user-menu">
            <summary class="user-menu__summary">
                <img id="user-menu-avatar" src="https://avatars.githubusercontent.com/u/105358860?v=4"
                    alt="avatar picture" class="user-menu__picture" />
            </summary>
            <ul class="user-menu__pop-up-list">
                <li id="username">Guest</li>
                <li><button id="logoutBtn" class="flow">Logout</button></li>
            </ul>
        </details>

    </header>

    <script type="module" src="../controller/new-post.js"></script>
</body>

</html>