@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(1.5deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-2deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(2deg);
	}

	80% {
		transform: rotate(-1.5deg);
	}

	90% {
		transform: rotate(1.5deg);
	}
}