@import 'colors';

$marked: #363636;
$unmarked: #CCCCCC;

.details-main-flow {
    width: min(85ch, 100% - 2rem);
    margin-inline: auto;
}

.site-header__title {
    text-decoration: none;
    color: inherit;
}

#property-title {
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 700;
}

#property-description {
    font-size: calc(.5rem + 0.5vw);
    text-wrap: balance;
    width: fit-content;
}

#amenities-list {
    color: $unmarked;
    font-size: smaller;
    padding: 0;

    &>* {
        margin: 1ch 1ch 0 0;
        width: fit-content;
    }
}

.checked-amenity {
    color: $marked;
    font-weight: 600;
}

.main-details-container {
    width: fit-content;
    position: relative;

    &>:nth-child(1)::after,
    &>:nth-child(2)::after {
        content: ",";
    }
}

.secondary-details-container {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: calc(.5rem + 0.5vw);
    border-radius: 10px;
    width: fit-content;
    padding: .5em;
}

.symbols {
    stroke-width: 1.5;
    stroke: currentColor;
    height: .8rem;
    aspect-ratio: 1;
    transform: translateY(10%);
}

.symbol-container {
    margin-right: 10px;
}

#property-pictures {
    display: grid;
    grid-template-columns: 2fr .5vw 1fr;
    grid-template-rows: 1fr .5vw 1fr;
}

#primary-picture {
    width: 100%;
    height: 100%;
    border-radius: 16px 0 0 16px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#secondary-picture {
    width: 100%;
    border-radius: 0 16px 0 0;
    grid-column: 3 / 4;
}

#tertiary-picture {
    width: 100%;
    border-radius: 0 0 16px 0;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}