@import 'colors'; 
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    color-scheme: light dark;
}

.site-header {
    box-shadow: 0px 7px 12px -4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

body {
    background-color: $background;
    color: $text;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

ul, li {
    list-style: none;
}

.flow {
    margin-block-start: 1.2rem;
}

.--small-text {
    font-size: small;
}

.columned-flex {
    display: flex;
    flex-direction: column;
}

.centered-flex {
    display: flex;
    justify-content: center;
}

.--adapted-text-size {
    font-size: calc(.2rem + 1vw);
}

.display-none {
    display: none;
}