$text: #091515;
$background: #f8fcfc;
$primary: #4fb0ae;
$secondary: #a0aad4;
$tertiary: #f6f7ff;
$accent: #3e3b5e;

$dark-text: #eaf6f6;
$dark-background: #030707;
$dark-primary: #4fb0ae;
$dark-secondary: #2b355f;
$dark-tertiary: #00092c;
$dark-accent: #a4a1c4;
