@import 'colors';

.main {
    margin-top: var(--margin-top, 1em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters-article {
    border-radius: 12px;
    height: 9rem;
    aspect-ratio: 2;
    box-shadow: 3px -1px 19px 1px rgba(0,0,0,0.53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    & button {
        background-color: $accent;
        padding: 3px;
        border-radius: 6px;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;

        &:hover {
            background-color: $secondary;
            cursor: pointer;
        }
    }
}


.grid-board {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid-item {
    background-color: rgb(205, 187, 157);
    text-transform: capitalize;
    background-color: $tertiary;
    height: auto;
    width: 35rem;
    border: 1px solid transparent;
    text-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);;

    &:nth-child(2n) {
        background-color: $secondary;
    }

    & *+* {
        padding: 3px;
    }
    
    &:hover {
        border: 1px solid black;
    }

    &__img {
        width: 6rem;
        aspect-ratio: 1;
        border-radius: 10px 0 0 10px;
    }

    &__link {
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr;

        &::before {
            
        }
        &::after {

        }

        &>* {
            color: $text;
        }
    }

}

.item-info {
    display: flex;
    justify-content: space-between;
}


